body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.signal{
  border-width: 2px;
}

#signalFormula {
  width: 400px;
}
.field-error {
  background-color: red;
}

.drawSignal {
  border:1px solid;
}
