
.styleRetro {
  svg {
    stroke: #8dca20;
    background-color: #31a143;
  }
  div > div {
    background-color: grey;
  }
}


.styleNoRetro {
  svg {
    stroke: #000000;
    background-color: #ffffff;
  }
  div > div {
    background-color: white;
  }
}

.signalGraph {
  svg {
    stroke-width: 1;
    fill:none;
    height: 300px;
    width: 350px;
    margin: 15px;
  }

  .drawSignal {
    border:1px solid;
  }

  .gride {
    stroke: #000000;
    stroke-width: 0.5;
    fill:none;
  }
}

.signalGraph > div > div {
  width: 380px;
  height: 330px;
  border-radius: 25px;
}
.signalGraph > div {
  width: 380px;
  height: 330px;
  margin: 10px auto;
}
